
* {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 1.8rem;
}

header {
    margin-top: 10rem;
    font-size: 3rem;
}